body {
  font-family: "SF Pro Display";
  background-color: #3c5556;
  color: #f6efe7;
  font-size: 14px;
}

nav {
  background-color: #c8dbd7;
  overflow: hidden;
}

nav a {
  float: left;
  color: #3c5556;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  background-color: #f5d4c3;
  color: #e09789;
}
